{% extends 'layout/base.html' %} {% block content %}
<div class="container">
  <h1>Contexto</h1>
  <p>
    Muchos estudiantes se ven enfrentados a altos niveles de presión y estrés
    debido a la preparación para la PAES que le permitirá poder ingresar a la
    una carrera profesional, siendo esta su principal prioridad, y no así sus
    resultados académicos o viceversa.
  </p>
  <h1>Propósito</h1>
  <p>
    Otorgar herramientas y recursos digitales a los estudiantes de enseñanza
    media, pensando en su formación y preparación para rendir la Prueba de
    Acesso a la Educación Superior (PAES) a través de un sitio web.
  </p>

  <div class="container-fluid text-center my-5">
    <button type="submit" class="btn btn-outline-info btn-lg p-4 ms-4">
      <a href="{% url 'unidades' %}">Estudiante (acceso publico)</a>
    </button>
    <button type="submit" class="btn btn-outline-info btn-lg p-4 ms-4">
      Estudiante registrado
    </button>
  </div>
</div>
{% endblock content %}
